@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Bem-vindo!</h1>
    <p>De uma olhada em meus outros projetos <a href="https://github.com/RilenJrBR">github.com</a>.</p>
</div>
