@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Bem-vindo!</h1>
    <p>Saiba mais sobre esta aplicação em <a href="https://github.com/RilenJrBR">github.com</a>.</p>
</div>
